body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

img{
    width: 480px;
}

.header,.footer{
    background-color: #1F2937;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 0px 107px;
}

.header-logo{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}

.links{
    color: #F9FAF8;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    gap : 5px;
}


.lower-header{
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
    gap: 24px;
}

.hero{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subtext{
    color: #E5E7EB;
    font-size: 18px;
}